/*底部*/
footer{
	width: 17.25rem;
	height:2.075rem;
	background-image: url(../img/f-b.png);
	background-size: 18.75rem 3.225rem;
	position:fixed;
	bottom: -0.1rem;
	padding-left:1.5rem;
	padding-top: 1.15rem;
}

dt{
	width: 1.05rem;
	margin: 0 auto;
}
dt img{
	width: 100%;
}
dd{
	line-height: 0.7rem;
	font-size: 0.5rem;
	color: #6B6B6B;
	letter-spacing: 0px;
	text-align: center;
}
footer a{
	display: block;
	width: 1.625rem;
	height: 1.775rem;
	float: left;
	font-size: 0.5rem;
	color: #6B6B6B;
	letter-spacing: 0px;
}
footer a:nth-child(1){
	margin-right: 1.95rem;
}
footer a:nth-child(2){
	margin-right: 1.9rem;
}
footer a:nth-child(3){
	margin-right: 2.375rem;
	
}
footer a:nth-child(3) dd{
	font-size: 0.6rem;
	color: #6B6B6B;
	letter-spacing: 0px;
	margin-top: 1.0rem;
}
footer a:nth-child(4){
	margin-right: 1.7rem;
}